.status-bar {
  width: 100%;
  height: 42px;
}

.status-bar .delivery-status {
  width: 33%;
  float: left;
  padding-left: 10px;
  text-align: left;
}

.status-bar .diff-status {
  width: 33%;
  float: left;
  text-align: center;
}

.status-bar .billing-status {
  width: 33%;
  float: right;
  padding-right: 10px;
  text-align: right;
}

.status-bar .delivery-title {
  float: left;
  margin-left: 10px;
  font-weight: bold;
}

.status-bar .billing-title {
  float: right;
  margin-right: 10px;
  font-weight: bold;
}

.status-bar div {
  height: 21px;
} 


